@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ---------------------------------------Custom Css-------------------------------------------------- */

.add-task-btn {
  box-shadow: 0 4px 6px rgba(0, 255, 94, 0.8); /* Custom green shadow */
}

input {
  box-shadow: 0 4px 6px rgba(0, 255, 94, 0.8); /* Custom green shadow */
}

.bg {
   background-color: rgb(13, 116, 0);
}